/* ~~~~~ GLOBAL RULES ~~~~~ */

@font-face {
    font-family: 'jurassic';
    src: url('./JurassicPark-BL48.ttf');
  }

/*=== Reset ===*/

html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%
}

body {
  display: flex;
  font-family: 'Helvetica';
}

/* ~~~~~ SCOREBOARDS ~~~~~ */
.scoreboard {
  height: 100%;
  background-color: #f0b83e;
  background-blend-mode: screen;
  background-size: 100%;
  text-align: center;
}

.player-token {
  height: 25vh;
  padding: 40px;
}

h2 {
  color: #781d18;
}

/* ~~~~~ GAMEBOARD ~~~~~ */

.main {
  text-align: center;
  background-color: #180806;
  padding: 3vh;
}

.header {
  font-family: 'jurassic';
  border-style: ridge;
  border-color: #f0b83e;
  color: white;
  font-size: 8em;
  margin: 15px;
  padding: 10px;
  background: no-repeat;
}

.turn-determination-container {
  display: inline-flex;
  text-align: center;
}

.turn-determination {
  display: flex;
  color: white;
  align-items: center;
}

.turn-token {
  height: 50px;
  padding: 0px 3px 0px 10px;

}
.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  padding: 5px;
  width: 100%;
}
.gameboard div {
  height: 21vh;
  width: 21vh;
}

.player-gamepiece {
  height: 21vh;
}

footer {
  height: 50%;
}

.winner-token {
  width: 30em;
  padding: 5em 5em 1em 5em
}

.game-result{
  color: white;
}
